.wrapper {
  width: 100%;
  overflow-x: hidden;
}

.listCards {
  padding: 0px 0px 30px 0px !important;
  width: 100%;
  list-style: none;
  display: flex;
  overflow-x: scroll;
}

.card:first-child {
  margin-left: 0px;
}

.card {
  min-width: 350px;
  min-height: 450px;
  display: grid;
  grid-template-rows: [row1] 90px [row2] 275px [row3] 150px;
  border: 1px solid rgb(230, 230, 230);
  margin: 15px;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.cardRowOne {
  padding: 30px 30px 15px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardType {
  font-family: "Roboto", sans-serif;
  font-size: 130%;
  font-weight: 500;
}

.cardRowTwo {
  padding: 15px 30px 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardTitle {
  font-size: 160%;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
}

.cardRowThree {
  padding: 15px 30px 30px 30px;
  display: flex;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.cardDescription {
  font-size: 100%;
  line-height: 200%;
  font-family: "Roboto", sans-serif;
}

.cardRowFour {
  justify-self: end;
  background-color: rgba(245, 245, 245, 0.416);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.tokenER {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: #e7f9ed;
  border-radius: 2px;
}

.tokenContentContainerER {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.tokenDotER {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #52e583;
}

.tokenTextER {
  font-family: "Roboto", sans-serif;
  font-size: 80%;
}

/* Scrollbar Styling */
