.containerApp {
  width: 100%;
  padding: 0px 30px 30px 30px;
}

.opacity {
  opacity: 60%;
}
.disabled-link {
  pointer-events: none;
  opacity: 0.45;
}

.disabled-link:hover {
  cursor: not-allowed;
}

.enabled-link {
  pointer-events: auto;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .containerApp {
    padding: 10px 10px 30px 10px;
  }
}

.red {
  background-color: #f4a3a274;
}

.redBorder {
  border: 2px solid #ef535074 !important;
}
