.containerTokens {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.token {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #e7f9ed;
  border-radius: 2px;
}

.tokenContentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.tokenDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #52e583;
}

.tokenText {
  font-family: "Roboto", sans-serif;
  font-size: 110%;
}
